In [503]:
import pandas as pd
import numpy as np

In [504]:
trainData = pd.read_csv("train.csv")
testData = pd.read_csv("test.csv")

trainData.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y

In [505]:
trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [506]:
for col in trainData.columns:
    print(f"\"{col}\" Sütununda : \"{trainData[col].isna().sum()}\" adet eksik veri mevcut.")

"Loan_ID" Sütununda : "0" adet eksik veri mevcut.
"Gender" Sütununda : "13" adet eksik veri mevcut.
"Married" Sütununda : "3" adet eksik veri mevcut.
"Dependents" Sütununda : "15" adet eksik veri mevcut.
"Education" Sütununda : "0" adet eksik veri mevcut.
"Self_Employed" Sütununda : "32" adet eksik veri mevcut.
"ApplicantIncome" Sütununda : "0" adet eksik veri mevcut.
"CoapplicantIncome" Sütununda : "0" adet eksik veri mevcut.
"LoanAmount" Sütununda : "22" adet eksik veri mevcut.
"Loan_Amount_Term" Sütununda : "14" adet eksik veri mevcut.
"Credit_History" Sütununda : "50" adet eksik veri mevcut.
"Property_Area" Sütununda : "0" adet eksik veri mevcut.
"Loan_Status" Sütununda : "0" adet eksik veri mevcut.

In [507]:
trainData.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [508]:
testdf = trainData.fillna({
    "Loan_Amount_Term":342,             # NaN değerleri Ortalaması ile değiştirdik
    "LoanAmount":146.41216216216216,    # NaN değerleri Ortalaması ile değiştirdik
    "Credit_History": 1 })              #verilerin buyuk coğunlugunun kredi geçmişi olduğu için NaN değerleride veri geçmişi var olarak işaretledim
testdf =testdf.dropna(subset=["Self_Employed","Gender","Dependents"])  # "Self_Employed","Dependents" ve "Gender" da ki NaN değerleri kesitiremediğim için NaN olan satırları sildim

In [509]:
for col in testdf.columns:
    print(f"\"{col}\" Sütununda : \"{testdf[col].isna().sum()}\" adet eksik veri mevcut.")

"Loan_ID" Sütununda : "0" adet eksik veri mevcut.
"Gender" Sütununda : "0" adet eksik veri mevcut.
"Married" Sütununda : "0" adet eksik veri mevcut.
"Dependents" Sütununda : "0" adet eksik veri mevcut.
"Education" Sütununda : "0" adet eksik veri mevcut.
"Self_Employed" Sütununda : "0" adet eksik veri mevcut.
"ApplicantIncome" Sütununda : "0" adet eksik veri mevcut.
"CoapplicantIncome" Sütununda : "0" adet eksik veri mevcut.
"LoanAmount" Sütununda : "0" adet eksik veri mevcut.
"Loan_Amount_Term" Sütununda : "0" adet eksik veri mevcut.
"Credit_History" Sütununda : "0" adet eksik veri mevcut.
"Property_Area" Sütununda : "0" adet eksik veri mevcut.
"Loan_Status" Sütununda : "0" adet eksik veri mevcut.

In [510]:
testdf.count()

Loan_ID              554
Gender               554
Married              554
Dependents           554
Education            554
Self_Employed        554
ApplicantIncome      554
CoapplicantIncome    554
LoanAmount           554
Loan_Amount_Term     554
Credit_History       554
Property_Area        554
Loan_Status          554
dtype: int64

In [511]:
trainData = testdf.drop(columns=["Loan_ID"],axis=1)
trainData.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [512]:
for col in trainData.columns:
    print(trainData[col].unique())

['Male' 'Female']
['No' 'Yes']
['0' '1' '2' '3+']
['Graduate' 'Not Graduate']
['No' 'Yes']
[ 5849  4583  3000  2583  6000  5417  2333  3036  4006 12841  3200  3073
  1853  1299  4950  3596  3510  4887  7660  5955  2600  9560  2799  4226
  1442  3167  4692  3500 12500  2275  1828  3667  4166  3748  3600  1800
  2400  3941  4695  3410  5649  5821  2645  4000  1928  3086  4230  4616
 11500  2708  2132  3366  8080  3357  2500  3029  2609  4945  5726 10750
  7100  4300  3208  1875  4755  5266  3750  1000  3333  3846  2395  1378
  3988  2366  8566  5695  2958  6250  3273  4133  3620  2484  1977  4188
  1759  4288  4843  4652  3052 11417  3800  2071  5316  3572  7451 14583
  2214  5568 10408  2137  2957  3692  3865 10513  6080 20166  2014  2718
  3459  4895  3316 14999  4200  5042  6950  2698 11757  2330 14866  1538
 10000  4860  6277  2577  9166  2281  3254 39999  9538  1863  7933  3089
  4167  9323  3707  2439  2237  8000  3522  5708  4344  3497  2045  5516
  6400  1916  4600 33846  3625 39147  2178  2383  9328  4885 12000  6033
  3858  4191  3125  8333  1907  3416 11000  4923  3992  3917  4408  3244
  3975  2479  3418  3430  7787  5703  3173  3850   150  3727  4283  2221
  4009  2971  7578  3250  2491  3189  3155  5500  3463  3812  3315  5819
  2510  2965  3406  6050  9703  6608  2882  1809  1668  3427  2661 16250
  3083  6045  5250 14683  4931  6083  2060  3481  7200  5166  4095  4708
  4333  2876  3237 11146  2833  2620  3900  2750  3993  3103  4100  4053
  3927  2301  1811 20667  3158  3704  4124  9508  3075  4400  3153  6875
  4666  5000  1625  2000  3762 20233  7667  2917  2927  2507  5746  3399
  3717  2058  3541  4342  3601  3166 15000  8666  4917  5818  4384  2935
  1830  4160  2647  2378  4554  2499  6333  2625  9083  8750  2666  2423
  3875  5167  4723  4750  3013  6822  6216  5124  6325 19730 15759  5185
  3062  4817  4310  3069  5391  5941  7167  4566  2346  3010  5488  9167
  9504  1993  3100  3276  3180  3033  3902  1500  2889  2755  1963  7441
  4547  2167  2213  8300 81000  3867  6096  2253  2149  2995  1600  1025
  3246  5829  2720  1820  7250 14880  4606  5935  2920  2717  8624  6500
  2425  1926 10416  7142  3660  7901  4707 37719  7333  3466  3340  2769
  2309  1958  3948  2483  7085  3859  4301  3708  4354  8334  7740  3015
  2947  3450  2653  4691  5532 16525  6700 16667  4350  3095  2083 10833
  3547 18333  2435  2699  5333  3691 17263  3597  3326  4625  2895  6283
   645  3159  4865  4050  3814 20833 13262  3598  6065  3283  2130  5815
  2031  4683  3400  2192  5677  7948  4680 17500  3775  5285  2679  6783
  4281  3588 11250 18165  6133  3617  6417  4608  2138  2239  3017  2768
  3358  2526  2785  6633  2492  2454  3593  5468  2667 10139  3887  4180
  3675 19484  5923  5800  8799  4467  3417 16666  6125  6406  3229  1782
  6540  1836  1880  2787  2297  2165  2726 16120  3833  6383  9963  5780
  3676  3987  3232  2900  4106  8072  7583]
[0.00000000e+00 1.50800000e+03 2.35800000e+03 4.19600000e+03
 1.51600000e+03 2.50400000e+03 1.52600000e+03 1.09680000e+04
 7.00000000e+02 8.10600000e+03 2.84000000e+03 1.08600000e+03
 5.62500000e+03 1.91100000e+03 2.25300000e+03 1.04000000e+03
 1.66700000e+03 3.00000000e+03 2.06700000e+03 1.33000000e+03
 1.45900000e+03 7.21000000e+03 1.66800000e+03 1.21300000e+03
 2.33600000e+03 3.44000000e+03 2.27500000e+03 1.64400000e+03
 1.16700000e+03 1.59100000e+03 2.20000000e+03 2.25000000e+03
 2.85900000e+03 3.79600000e+03 3.44900000e+03 4.59500000e+03
 2.25400000e+03 3.06600000e+03 1.87500000e+03 1.77400000e+03
 4.75000000e+03 3.02200000e+03 4.00000000e+03 2.16600000e+03
 1.88100000e+03 2.53100000e+03 2.00000000e+03 2.11800000e+03
 4.16700000e+03 2.90000000e+03 5.65400000e+03 1.82000000e+03
 2.30200000e+03 9.97000000e+02 3.54100000e+03 3.26300000e+03
 3.80600000e+03 3.58300000e+03 1.03000000e+03 1.12600000e+03
 3.60000000e+03 7.54000000e+02 4.11400000e+03 2.28300000e+03
 1.39800000e+03 2.14200000e+03 8.98000000e+03 2.01400000e+03
 1.64000000e+03 3.85000000e+03 2.56900000e+03 1.92900000e+03
 7.75000000e+03 3.50000000e+03 1.43000000e+03 2.08300000e+03
 2.03400000e+03 4.48600000e+03 1.42500000e+03 1.66600000e+03
 8.30000000e+02 3.75000000e+03 1.04100000e+03 1.28000000e+03
 1.44700000e+03 3.16600000e+03 3.33300000e+03 7.36000000e+02
 1.96400000e+03 1.61900000e+03 1.13000000e+04 1.45100000e+03
 7.25000000e+03 5.06300000e+03 2.13800000e+03 2.58300000e+03
 2.36500000e+03 2.81600000e+03 2.50000000e+03 1.08300000e+03
 1.25000000e+03 3.02100000e+03 9.83000000e+02 1.80000000e+03
 1.77500000e+03 2.38300000e+03 1.71700000e+03 2.79100000e+03
 1.01000000e+03 1.69500000e+03 2.05400000e+03 2.59800000e+03
 1.77900000e+03 1.26000000e+03 5.00000000e+03 1.98300000e+03
 5.70100000e+03 1.30000000e+03 4.41700000e+03 4.33300000e+03
 1.84300000e+03 1.86800000e+03 3.89000000e+03 2.16700000e+03
 7.10100000e+03 2.10000000e+03 4.25000000e+03 2.20900000e+03
 3.44700000e+03 1.38700000e+03 1.81100000e+03 1.56000000e+03
 1.85700000e+03 2.22300000e+03 1.84200000e+03 3.27400000e+03
 2.42600000e+03 8.00000000e+02 9.85799988e+02 3.05300000e+03
 2.41600000e+03 3.33400000e+03 2.54100000e+03 2.92500000e+03
 2.93400000e+03 1.80300000e+03 1.86300000e+03 2.40500000e+03
 2.13400000e+03 1.89000000e+02 1.59000000e+03 2.98500000e+03
 4.98300000e+03 2.16000000e+03 2.45100000e+03 1.79300000e+03
 4.60000000e+03 1.58700000e+03 1.22900000e+03 2.45800000e+03
 2.16800000e+03 4.58300000e+03 6.25000000e+03 5.05000000e+02
 3.16700000e+03 3.66700000e+03 2.33300000e+03 3.03300000e+03
 5.26600000e+03 7.87300000e+03 1.98700000e+03 9.23000000e+02
 4.99600000e+03 4.23200000e+03 1.60000000e+03 3.13600000e+03
 2.41700000e+03 2.11500000e+03 1.62500000e+03 1.40000000e+03
 4.84000000e+02 2.00000000e+04 2.40000000e+03 2.03300000e+03
 3.23700000e+03 2.77300000e+03 1.41700000e+03 1.71900000e+03
 4.30000000e+03 1.61200008e+01 2.34000000e+03 1.85100000e+03
 1.12500000e+03 5.06400000e+03 1.83300000e+03 1.99300000e+03
 8.33300000e+03 1.21000000e+03 1.71000000e+03 1.54200000e+03
 1.25500000e+03 1.45600000e+03 1.73300000e+03 2.46600000e+03
 2.18800000e+03 1.66400000e+03 2.07900000e+03 1.50000000e+03
 4.64800000e+03 1.01400000e+03 1.75000000e+03 1.60300000e+03
 3.15000000e+03 2.43600000e+03 2.78500000e+03 1.13100000e+03
 2.15700000e+03 9.13000000e+02 1.70000000e+03 2.85700000e+03
 4.41600000e+03 3.68300000e+03 5.62400000e+03 5.30200000e+03
 1.48300000e+03 6.66700000e+03 3.01300000e+03 1.28700000e+03
 2.00400000e+03 2.03500000e+03 6.66600000e+03 3.66600000e+03
 3.42800000e+03 1.63200000e+03 1.91500000e+03 1.74200000e+03
 1.42400000e+03 7.16600000e+03 2.08700000e+03 1.30200000e+03
 5.50000000e+03 3.90600000e+03 5.36000000e+02 2.84500000e+03
 2.52400000e+03 6.63000000e+02 1.95000000e+03 1.78300000e+03
 2.01600000e+03 2.37500000e+03 3.25000000e+03 4.26600000e+03
 1.03200000e+03 2.66900000e+03 2.30600000e+03 2.42000000e+02
 2.06400000e+03 4.61000000e+02 2.73900000e+03 2.23200000e+03
 3.38370000e+04 1.91700000e+03 1.52200000e+03 3.41600000e+03
 3.30000000e+03 1.00000000e+03 4.30100000e+03 3.80000000e+03
 1.41100000e+03 2.40000000e+02]
[146.41216216 128.          66.         120.         141.
 267.          95.         158.         168.         349.
  70.         200.         114.          17.         125.
 100.          76.         133.         104.         315.
 116.         191.         122.         110.          35.
  74.         106.         320.         144.         184.
  80.          47.          75.         134.          96.
  88.          44.         112.         286.          97.
 135.         180.          99.         165.         258.
 126.         312.         136.         172.          81.
 187.         113.         176.         130.         111.
 167.         265.          50.         210.         175.
 131.         188.          25.         137.         115.
 151.         225.         216.          94.         152.
 185.         154.          85.         259.         194.
  93.         160.         182.         650.         102.
 290.          84.         242.         129.          30.
 118.         244.         600.         255.          98.
 275.         121.          63.          87.         101.
 495.          67.          73.         260.         108.
  58.          48.         164.         170.          83.
  90.         166.         124.          55.          59.
 127.         214.         240.          60.         280.
 140.         155.         123.         201.         138.
 279.         192.         304.         330.         150.
 207.         436.          78.          54.          89.
 139.         132.         480.          56.         300.
 376.         117.          71.         173.          46.
 228.         308.         105.         236.         570.
 380.         296.         156.         109.         103.
  45.          65.          53.         360.          62.
 218.         178.         239.         143.         148.
 190.         149.         153.         162.         230.
  86.         234.         246.         500.         186.
 119.         107.         209.         208.         243.
  40.         250.         311.         400.         161.
 196.         324.         157.         145.         181.
  26.         211.           9.         205.          36.
  61.         146.         142.         496.         253.        ]
[360. 120. 240. 342. 180.  60. 300. 480.  36.  84.  12.]
[1. 0.]
['Urban' 'Rural' 'Semiurban']
['Y' 'N']

In [513]:
XTrain = pd.get_dummies(trainData, columns=["Dependents","Property_Area"],dtype=int)

In [514]:
XTrain.head()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,Male,No,Graduate,No,5849,0.0,146.412162,360.0,1.0,Y,1,0,0,0,0,0,1
1,Male,Yes,Graduate,No,4583,1508.0,128.000000,360.0,1.0,N,0,1,0,0,1,0,0
2,Male,Yes,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Y,1,0,0,0,0,0,1
3,Male,Yes,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Y,1,0,0,0,0,0,1
4,Male,No,Graduate,No,6000,0.0,141.000000,360.0,1.0,Y,1,0,0,0,0,0,1

In [515]:
XTrain["Gender"] = XTrain["Gender"].replace("Male",0).replace("Female",1)
XTrain["Married"] = XTrain["Married"].replace("No",0).replace("Yes",1)
XTrain["Education"] = XTrain["Education"].replace("Not Graduate",0).replace("Graduate",1)
XTrain["Self_Employed"] = XTrain["Self_Employed"].replace("No",0).replace("Yes",1)
XTrain["Loan_Status"] = XTrain["Loan_Status"].replace("N",0).replace("Y",1)

C:\Users\MY COMPUTER\AppData\Local\Temp\ipykernel_2356\2706957500.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  XTrain["Gender"] = XTrain["Gender"].replace("Male",0).replace("Female",1)
C:\Users\MY COMPUTER\AppData\Local\Temp\ipykernel_2356\2706957500.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  XTrain["Married"] = XTrain["Married"].replace("No",0).replace("Yes",1)
C:\Users\MY COMPUTER\AppData\Local\Temp\ipykernel_2356\2706957500.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  XTrain["Education"] = XTrain["Education"].replace("Not Graduate",0).replace("Graduate",1)
C:\Users\MY COMPUTER\AppData\Local\Temp\ipykernel_2356\2706957500.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  XTrain["Self_Employed"] = XTrain["Self_Employed"].replace("No",0).replace("Yes",1)
C:\Users\MY COMPUTER\AppData\Local\Temp\ipykernel_2356\2706957500.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  XTrain["Loan_Status"] = XTrain["Loan_Status"].replace("N",0).replace("Y",1)

In [516]:
XTrain.head()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,0,1,0,5849,0.0,146.412162,360.0,1.0,1,1,0,0,0,0,0,1
1,0,1,1,0,4583,1508.0,128.000000,360.0,1.0,0,0,1,0,0,1,0,0
2,0,1,1,1,3000,0.0,66.000000,360.0,1.0,1,1,0,0,0,0,0,1
3,0,1,0,0,2583,2358.0,120.000000,360.0,1.0,1,1,0,0,0,0,0,1
4,0,0,1,0,6000,0.0,141.000000,360.0,1.0,1,1,0,0,0,0,0,1

In [517]:
y = XTrain["Loan_Status"].values
X = XTrain.drop("Loan_Status",axis=1).values

In [518]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [519]:

Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.3,random_state=42)

In [520]:
rfc = RandomForestClassifier()
rfc.fit(Xtrain,ytrain)

RandomForestClassifier()

In [521]:
tahminler = rfc.predict(Xtest)

In [522]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [523]:
conf = confusion_matrix(ytest,tahminler)
acc = accuracy_score(ytest,tahminler)
cr = classification_report(ytest,tahminler)

In [524]:
import seaborn as sns
print("Confusion Matrix \n",conf)
print("Accuracy:", acc*100,"%")
print(cr)

Confusion Matrix
 [[ 28  21]
 [  5 113]]
Accuracy: 84.4311377245509 %
              precision    recall  f1-score   support

           0       0.85      0.57      0.68        49
           1       0.84      0.96      0.90       118

    accuracy                           0.84       167
   macro avg       0.85      0.76      0.79       167
weighted avg       0.84      0.84      0.83       167